@model Weapon
@*
*@
@{
}
<div class="dropdown" style="float:right">
    <label asp-for="LocationId" class="control-label">Location</label>
    <select asp-for="LocationId" class="form-control" asp-items="@ViewBag.Locations">
        <option value="">-- Select Location --</option> <!-- Optional placeholder -->
    </select>
    <span asp-validation-for="LocationId" class="text-danger"></span>
</div>

<form method="post" enctype="multipart/form-data" asp-controller="FileReader" asp-action="Index">
    <div class="row">
        <input type="file" name="file" />
        <div class="row" style="padding-top: 10px;">
            <div class="col-3">
                <button type="submit">Upload File</button>
            </div>
        </div>
    </div>
</form>

<div>
    <div style="height:auto;width:auto;overflow:scroll;">
        <table class="table">
                <thead>
                    <tr>
                        @if (ViewBag.Data != null && ViewBag.Data.Count > 0)
                        {
                            @foreach (var header in ViewBag.Data[0])
                            {
                                <th>@header</th>
                            }
                        }
                    </tr>
                </thead>
            <tbody>
                @if (ViewBag.Data != null && ViewBag.Data.Count > 1)
                {
                    @for(int i = 1; i < ViewBag.Data.Count; ++i)
                    {
                        var row = (List<string>)ViewBag.Data[i];
                        <tr>
                            @foreach(var cell in row)
                            {
                                <td >@cell</td>
                            }
                            <td class="buttons-cell">
                                <div class="d-flex gap-1">

                                    <button type="button" class="btn btn-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                                        </svg>
                                    </button>

                                    <button type="button"
                                            class="btn btn-danger btnOpenWeaponInfoModalFile"
                                            data-recordnumber="@row[3]"
                                            data-name="@row[1]"
                                            data-year="@row[2]"
                                            data-value="@row[4]"
                                            data-location="No location">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg>
                                    </button>

                                    <button type="submit" class="btn btn-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg>
                                    </button>

                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</div>

<div id="showWeaponModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <partial name="showWeaponInformation" />
    </div>
</div>